<template>
    <div>
        <el-select v-model="yearValue" placeholder="Select">
            <el-option
                v-for="item in yearOption"
                :key="item.yearValue"
                :label="item.yearLabel"
                :value="item.yearValue">
            </el-option>
        </el-select>
        <el-select v-model="monthValue" placeholder="Select">
            <el-option
                v-for="item in monthOption"
                :key="item.monthValue"
                :label="item.monthLabel"
                :value="item.monthValue">
            </el-option>
        </el-select>
            <el-input placeholder="제목 검색" v-model="searchTitle"></el-input>
            <el-button icon="el-icon-search" @click="getList()" circle> 검색 </el-button>
        <div v-for="(item, index) in list">
            No. : {{ item.noticeId }}
            제목 : {{item.title}}
            작성날짜 : {{ item.datePost }}
            작성자 : {{item.writer}}
            <el-button type="success" icon="el-icon-paperclip" circle @click.native="moveDetail(item.id)"></el-button>
            <el-button type="success" icon="el-icon-edit" circle @click.native="moveDetail(item.id)"></el-button>
            <br />
        </div>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="pageNum"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>

<script>
import moment from "moment";

export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            searchTitle: [],
            totalItemCount: 0,
            pageNum: 1,
            monthValue: moment().format('MM'),
            yearValue: moment().format('YYYY'),
            yearOption: [{
                yearValue: '2022',
                yearLabel: '2022년'
            }, {
                yearValue: '2021',
                yearLabel: '2021년'
            }, {
                yearValue: '2021',
                yearLabel: '2021년'
            }, {
                yearValue: '2020',
                yearLabel: '2020년'
            }],
            monthOption: [{
                monthValue: '12',
                monthLabel: '12월'
            }, {
                monthValue: '11',
                monthLabel: '11월'
            }, {
                monthValue: '10',
                monthLabel: '10월'
            }, {
                monthValue: '9',
                monthLabel: '09월'
            }, {
                monthValue: '8',
                monthLabel: '08월'
            }, {
                monthValue: '7',
                monthLabel: '07월'
            }, {
                monthValue: '6',
                monthLabel: '06월'
            }, {
                monthValue: '05',
                monthLabel: '05월'
            }, {
                monthValue: '4',
                monthLabel: '04월'
            }, {
                monthValue: '3',
                monthLabel: '03월'
            }, {
                monthValue: '2',
                monthLabel: '02월'
            }, {
                monthValue: '1',
                monthLabel: '01월'
            }],
        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            let payload = {
                pageNum: this.pageNum,
                params: {
                    searchTitle: this.searchTitle,
                    yearValue: this.isNumber(this.yearValue) ? Number(this.yearValue) : null,
                    monthValue: this.isNumber(this.monthValue) ? Number(this.monthValue) : null,
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$noticeConstants.DO_NOTICE_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        isNumber(text) {
            return !isNaN(Number(text))
        }
    },
    watch: {
        monthValue() {
            this.getList()
        },
        yearValue() {
            this.getList()
        },
    },
    created() {
        this.getList()
    }
}
</script>

