<template>
    <div>
        <el-select v-model="value" placeholder="Select">
            <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
        </el-select>
        <div v-for="(item, index) in list">
            id : {{ item.id }}
            아이디 : {{item.username}}
            닉네임 : {{ item.nickName }}
            평점 : {{item.avgStarRating}}
            패널티 : {{item.penalty}} <br />
        </div>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="pageNum"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            totalItemCount: 0,
            pageNum: 1,
            value: 'ALL',
            options: [{
                value: 'ALL',
                label: '전체'
            }, {
                value: 'BLACK_LIST',
                label: '블랙회원'
            }, {
                value: 'STAR_POINT',
                label: '별점'
            }]
        }
    },
    methods: {
        setPage(pageNum) {
            this.pageNum = pageNum
            this.getList()
        },
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberDataConstants.DO_MEMBER_LIST, {pageNum: this.pageNum, searchType: this.value})
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    watch: {
        value() {
            this.getList()
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },

}
</script>

